body {
  display: flex;
  align-items: center;
  padding-top: 25px;
  flex-direction: column;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
.container{
  width: 600px;
}

/*essai tuto*/
.header{
  height: 45px;
}

.picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  height: 140px;
}

.close {
  position: absolute;
  margin-left: 175px;
  display: none;
  color: black;
}

.close:hover{
  cursor: pointer;
}

.input {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.input label {
  margin-top: 20px;
}
.input input{
  width: 90%;
  height: 50px;
  -webkit-appearance: none;
  height: 5px;
  margin: 5px 0 16px 0;
  background-color: rgb(240,240,240)
}

.input input:hover{
  cursor: pointer;
}

.display {
  background: rgb(130,130,130);
  border-radius: 13px;
  width: 40%;
  height: 100%
}

.colors {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colors p {
  margin-bottom: 5px;
}

.colors button{
  width: 90%;
  height: 28px;
  color: rgb(70,70,70);
}

.palettes{
  width: 600px;
}


.placer{
  width: 190px;
  height: 150px;
  float: left;
  padding: 5px;
  opacity: 0;
  /* transition: opacity 0.5s ease */
}


.placer .pick{
  background: rgb(240,240,240);
  height: 150px;
  box-shadow: 2px 2px 2px rgb(110,110,110);
  width: 190px;
}

.col{
  height: 100px;
}

.col:hover{
  cursor: pointer;
}

.two{
  background: peru;
  opacity: 0;
}

.fadeIn{
  opacity: 1;
  transition: opacity 0.3s ease 
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.4s ease
}

/*perso*/
.hex{
	transition: all 0.5s ease;
}

.linear-gradient-rouge {
  background: linear-gradient(to right, red, white);
}

.linear-gradient-vert {
  background: linear-gradient(to right, green, white);
}

.linear-gradient-bleu {
  background: linear-gradient(to right, blue, white);
}

.linear-gradient-multi{
  background: linear-gradient(to right, red, green, blue);
}

.drole{
	height: 50px;
	width: 100px;
}